#head1{
    color: #EA8C55;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: red;
}

#head2{
    color: #ba5ec5;
    text-align: right;
}

#para1{
    color: hsl(190, 92%, 41%);
    text-align:left;
    font-family: 'Courier New';
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
}

#para2{
    color : rgba(179, 10, 235, 75%);
    text-align: justify;
    font-family: "Comic Sans MS";
    font-size: xx-small;
    font-weight: bolder;
}

#shadowHead{
    text-align: center;
    text-shadow: 1px 2px #ff0000;
}
